* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  color: var(--text2);
}

/* Colors */

:root {
  --bg: #0c0e13;
  --text: #ecece4;
  --text2: #b6c2e2;
  --card: #1d2330;
  --card2: #0c0d0f6e;
  --secondary: #0b0f1f;
  --accent: #131720;
  --accent2: white;
  --gradiant: linear-gradient(135deg, #7a4dff 0%, #4ddcff 100%);
  --borderclr: #b6c2e2;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header / Nav */

header {
  position: sticky;
  height: 70px;
  top: 0;
  padding: 0.4rem 2rem;
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--borderclr);
  z-index: 100;
}

.menu {
  list-style: none;
  display: flex;
  font-size: x-large;
}

.menu a {
  display: block;
  padding: 0.9rem 1.2rem;
  color: var(--text2);
  text-decoration: none;
  font-weight: 500;
}

.menu a:hover {
  background: var(--gradiant);
  background-clip: text;
  color: transparent;
}

.logo {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #144044;
  border: 1px solid cyan;
  border-radius: 10px;
  position: absolute;
  left: 50px;
  top: 15px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text2);
  position: absolute;
  left: 100px;
  top: 20px;
}

/* Main page */

.v-gradiant {
  background: #06d4d4;
  background: linear-gradient(135deg,
      rgba(6, 212, 212, 1) 0%,
      rgba(135, 21, 143, 1) 57%);
  background-clip: text;
  color: transparent;
}

.v-header {
  text-align: center;
  margin-top: 26px;
  margin-bottom: 18px;
  font-size: 38px;
}

/* Test */

.screen {
  max-width: 1600px;
  margin: auto;
  background: var(--card);
  padding: 40px;
  border-radius: 15px;
  display: none;
  font-size: 20px;
}

.screen.active {
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 5px;
}

h1,
h2,
h3 {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.question {
  margin-bottom: 15px;
}

.question img {
  display: block;
  max-width: 600px;
  margin: 10px auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

label {
  display: block;
  margin: 3px;
}

.center {
  text-align: center;
}

button {
  padding: 15px 27px;
  margin: 10px;
  font-size: 22px;
  cursor: pointer;
  background-color: var(--text2);
  border: none;
  transition: transform 0.5s ease, filter 0.5s ease;
}

button:hover {
  transform: scale(1.05);
  filter: brightness(1.15);
  transition: transform 0.5s ease, filter 0.5s ease;
}

.button-easy {
  filter: brightness(0.5);
  background-color: #45B500;
  color: white;
  text-shadow: black 1px 1px 7px;
}

.button-medium {
  filter: brightness(0.5);
  background-color: #FFBB01;
  color: white;
  text-shadow: black 1px 1px 7px;
}

.button-hard {
  filter: brightness(0.5);
  background-color: #FF0100;
  color: white;
  text-shadow: black 1px 1px 7px;
}

/* Footer */

.footer {
  position: sticky;
  bottom: 0;
  padding: 1.5rem 0.4rem;
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--borderclr);
  z-index: 100;
}

.logoftr {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #144044;
  border: 1px solid cyan;
  border-radius: 10px;
  position: absolute;
  left: 50px;
}

.logo-text-ftr {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text2);
  position: absolute;
  left: 100px;
}